    // Imports Fonts 
    @import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,100&display=swap');
    *{margin: 0;padding: 0}
    $grey:  hsl(0, 0%, 55%);
    $white:hsl(0, 0%, 100%);
    .openmenumobile{margin-left: 0px !important;transition: all 1s ease-in-out;}
    .footer-mobile{display: none;}
    .button-mobile{a{display:none;}}
    header{width: 100%;height: 650px;background-image: url(../images/desktop/image-hero.jpg);background-size: cover;background-position: center;background-attachment: fixed;
    #navbar{width: 100%;height: 100px;display: flex;justify-content: space-around;align-items: center;font-family: 'Alata', sans-serif; 
    #menu{display:none;}
    .logo{h1{a{color:#fff; text-decoration: none; font-size:30px;}}}
    .menu{ul{display: flex; li{margin-right: 15px; list-style: none; a{text-decoration: none; color:#fff;}}}}}
    .info-hero{ height: 75%;display: flex; justify-content: space-evenly; align-items: center; ;}
    .text-info{visibility: hidden;}
    .text-info-hero{ width: 450px; padding: 40px; border:2.5px solid #fff;h1{ line-height:70px; color:#fff; font-size:55px; font-family: 'Josefin Sans', sans-serif; text-transform: uppercase; font-weight: 100;;  }}}
    .width-80{width: 70%; margin: 0px auto;
    .section-leader{display: flex; min-height: 250px; align-items:center; margin-top: 30px; flex-wrap: wrap;.primary-img{img{width:500px;}}.section-text{ margin-left:-115px;margin-top:200px;background-color: #fff; width: 400px; padding:50px; height: 200px;  h2{ font-family: 'Josefin Sans', sans-serif; margin-bottom:20px; font-size: 40px; text-transform: uppercase;}p{color:$grey;font-size: 13px; line-height: 22px; font-family: 'Alata', sans-serif; }}}
    .creation{display:flex; height:150px;  justify-content:space-between; align-items:center;h1{font-size:40px; font-family: 'Josefin Sans', sans-serif;text-transform: uppercase; }.button{button{ transition: all 1s ease;padding: 8px 40px; background-color: transparent;border:none; border:1px solid #000; a{text-decoration: none; font-size:15px; color:#000; font-family: 'Alata', sans-serif;}}}}}
    // BACKGROUND SECTION CARD
    .card{display:flex; justify-content:space-between; flex-wrap: wrap; .section-card{transition: 1s ease;cursor:pointer;position: relative;margin: 15px 0px; h1{color: $white; width:100%; margin:0px auto; text-align:center; position: absolute; bottom:20px; font-family: 'Josefin Sans', sans-serif; font-weight: 100;} }}
    #section-card-1{width:200px;height:300px;background-image: url(../images/desktop/image-deep-earth.jpg); background-repeat: no-repeat;}
    #section-card-2{width:200px;height:300px;background-image: url(../images/desktop/image-night-arcade.jpg);background-repeat: no-repeat;}
    #section-card-3{width:200px;height:300px;background-image: url(../images/desktop/image-soccer-team.jpg);background-repeat: no-repeat;}
    #section-card-4{width:200px;height:300px;background-image: url(../images/desktop/image-grid.jpg);background-repeat: no-repeat;}
    #section-card-5{width:200px;height:300px;background-image: url(../images/desktop/image-from-above.jpg);background-repeat: no-repeat;}
    #section-card-6{width:200px;height:300px;background-image: url(../images/desktop/image-pocket-borealis.jpg);background-repeat: no-repeat;}
    #section-card-7{width:200px;height:300px;background-image: url(../images/desktop/image-curiosity.jpg);background-repeat: no-repeat;}
    #section-card-8{width:200px;height:300px;background-image: url(../images/desktop/image-fisheye.jpg);background-repeat: no-repeat;}
    .bg{width:100%;height:100%;background-color: rgba(255, 255, 255, 0.508);display: none;transition: all 1s ease;}
    .section-mobile{display:none;}
    #section-card-mobile-1{width:100%;height:200px;background-image: url(../images/mobile/image-deep-earth.jpg); background-repeat: no-repeat; background-position: top;}
    #section-card-mobile-2{width:100%;height:200px;background-image: url(../images/mobile/image-night-arcade.jpg); background-repeat: no-repeat;  background-position: top;}
    #section-card-mobile-3{width:100%;height:200px;background-image: url(../images/mobile/image-soccer-team.jpg); background-repeat: no-repeat;  background-position: top;}
    #section-card-mobile-4{width:100%;height:200px;background-image: url(../images/mobile/image-grid.jpg); background-repeat: no-repeat;  background-position: top;}
    #section-card-mobile-5{width:100%;;height:200px;background-image: url(../images/mobile/image-from-above.jpg); background-repeat: no-repeat;  background-position: top;}
    #section-card-mobile-6{width:100%;height:200px;background-image: url(../images/mobile/image-pocket-borealis.jpg); background-repeat: no-repeat;  background-position: top;}
    #section-card-mobile-7{width:100%;height:200px;background-image: url(../images/mobile/image-curiosity.jpg); background-repeat: no-repeat;  background-position: top;}
    #section-card-mobile-8{width:100%;height:200px;background-image: url(../images/mobile/image-fisheye.jpg); background-repeat: no-repeat;  background-position: top   ;}
    .menu-mobile{width: 100%; height:100%; background-color: #000; position: fixed; top:0px; margin-left:-2000px; transition: all 1s ease; .flex-mobile{display: flex; height:75px; margin: 0px 20px; justify-content: space-between; align-items:center; a{text-decoration: none; color:#fff;} i{color:#fff; font-size:30px;}}}
    // HOVER
    .creation .button button:hover{background: #000;color:#fff;transition: all 1s ease;}
    .creation .button button:hover a{color:#fff;transition: all 500ms ease;}
    .section-card:hover .bg{display: block;transition: 1s ease;}
    .section-card:hover h1 {color:#000;}

    //footer
    #footer{ padding:30px 50px; margin-top:100px; min-height:100px; background-color: #000; display:flex; justify-content:space-between; align-items:center; z-index: 9999;
    .menu-f{ul{display:flex; margin-top:10px; li{margin-right: 20px; a{text-decoration: none; color:$white;font-family: 'Alata', sans-serif;}}}}
    .menu-rrss-footer{ul{display:flex;li{a{i{ font-size:30px;color:$white;}}margin-right: 20px;}}}
    .logo{h1{a{text-decoration:none; color:$white;font-family: 'Alata', sans-serif;}}}
    }
    .copy-footer{margin-top:30px; color:$grey; font-size:13px; font-family: 'Alata', sans-serif;}
    .menu-rrss-footer{width: 75%;margin-left: auto;}
    // responsive
    // Mobile
    @media (max-width:425px){
        .section-mobile{display:block; width:100%; margin:0px auto;}
        .card{display:none;}
        .creation{display:none !important;}
        .width-80{width:100%; margin:0px auto !important;}
        .width-80 .section-leader{margin-bottom: 100px;}
        .menu{display:none;}
        .width-80 .section-leader .primary-img img {width: 100%;}
        header .text-info-hero h1{font-size: 50px;}
        header .text-info-hero {width: 80%;padding: 15px;border: 1.5px solid #fff;}
        #menu{display:block !important; color:#fff;}
        .menu-mobile{ul{li {a{text-decoration: none;text-transform: uppercase;color:$white; font-size:25px; font-family: 'Josefin Sans', sans-serif;}margin-bottom:20px;}margin-top:125px; padding:0px 0px 0px 20px;}}
        #footer{display:none;}
        .footer-mobile{width:100%;margin-top: 50px;display: flex; padding: 20px 0px; flex-direction: column; justify-content:center; min-height: 100px; background-color: #000; .logo-mobile{h1{a{text-decoration:none; color:$white;font-family: 'Alata', sans-serif;}}} }
        .logoandmmenu{margin:0px auto;}
        .menu-f-mobile{ul{width: 100%; text-align:center;  margin: 0px auto; margin-top:50px; margin-bottom:50px; li{a{text-decoration:none; font-size:20px; color:#fff;font-family: 'Josefin Sans', sans-serif; font-weight:bold;}margin-top:25px;}}}
        .rrssandcopy-mobile{margin:0px auto;.menu-rrss-footer-mobile{ul{display:flex; text-align:center; width:100%; justify-content:center; margin-left:10px; }li{margin-right: 20px; a{i{color:$white; font-size:25px;}}}}.copy-footer-mobile{p{color:$grey; margin-top:15px;font-family: 'Alata', sans-serif;}}}
        .section-card-mobile{width:100%;position:relative; margin-top:30px; h1{position:absolute; bottom: 20px; left:25px; right:0px;  margin-left:auto; color:$white;font-family: 'Josefin Sans', sans-serif; font-weight: 100; text-transform: uppercase;}}
        .section-mobile{h2{text-align:center; margin-bottom:20px; font-size:30px;font-family: 'Josefin Sans', sans-serif; font-weight: 100; text-transform: uppercase;}}
        .button-mobile{ margin-top:30px; a{padding:8px 40px; display:block; letter-spacing: 3px; border:1px solid #000; text-decoration: none; font-family: 'Alata', sans-serif; color:#000;}display:flex; justify-content:center;}
    }
 
    @media (max-width:375px){header .text-info-hero h1 {font-size: 45px;}}
    @media (max-width:320px){header .text-info-hero h1 {font-size: 40px !important;}
    .width-80 .section-leader .section-text h2 {font-size: 30px;}
    }
    @media (max-width:768px){

        .info-hero{ height: 75%;display: flex; justify-content: space-evenly; align-items: center; ;}
        .text-info{display:none;}
        .width-80 .section-leader .section-text{margin-left: 0px;margin-top:0px;background-color: #fff;}
    }
    @media (max-width:1024px){
        .info-hero{ height: 75%;display: flex; justify-content: space-evenly; align-items: center; }
        .text-info{display:none;}
        .width-80 .section-leader .section-text {margin-left: 0px;margin-top:0px;background-color: #fff;}
        .width-80 .section-leader{justify-content: center;}
        #section-card-1{width:200px;height:300px;background-image: url(../images/desktop/image-deep-earth.jpg); background-repeat: no-repeat;}
        #section-card-2{width:200px;height:300px;background-image: url(../images/desktop/image-night-arcade.jpg);background-repeat: no-repeat;}
        #section-card-3{width:200px;height:300px;background-image: url(../images/desktop/image-soccer-team.jpg);background-repeat: no-repeat;}
        #section-card-4{width:200px;height:300px;background-image: url(../images/desktop/image-grid.jpg);background-repeat: no-repeat;}
        #section-card-5{width:200px;height:300px;background-image: url(../images/desktop/image-from-above.jpg);background-repeat: no-repeat;}
        #section-card-6{width:200px;height:300px;background-image: url(../images/desktop/image-pocket-borealis.jpg);background-repeat: no-repeat;}
        #section-card-7{width:200px;height:300px;background-image: url(../images/desktop/image-curiosity.jpg);background-repeat: no-repeat;}
        #section-card-8{width:200px;height:300px;background-image: url(../images/desktop/image-fisheye.jpg);background-repeat: no-repeat;}
    }
    @media (width:1440px){
        #section-card-1{width:240px;height:300px;background-image: url(../images/desktop/image-deep-earth.jpg); background-repeat: no-repeat;}
        #section-card-2{width:240px;height:300px;background-image: url(../images/desktop/image-night-arcade.jpg);background-repeat: no-repeat;}
        #section-card-3{width:240px;height:300px;background-image: url(../images/desktop/image-soccer-team.jpg);background-repeat: no-repeat;}
        #section-card-4{width:240px;height:300px;background-image: url(../images/desktop/image-grid.jpg);background-repeat: no-repeat;}
        #section-card-5{width:240px;height:300px;background-image: url(../images/desktop/image-from-above.jpg);background-repeat: no-repeat;}
        #section-card-6{width:240px;height:300px;background-image: url(../images/desktop/image-pocket-borealis.jpg);background-repeat: no-repeat;}
        #section-card-7{width:240px;height:300px;background-image: url(../images/desktop/image-curiosity.jpg);background-repeat: no-repeat;}
        #section-card-8{width:240px;height:300px;background-image: url(../images/desktop/image-fisheye.jpg);background-repeat: no-repeat;}
        
    }



    //hover

    .ul-menu li > a:hover{
        border-bottom:1px solid #fff;
        transition:all 1s ease;
    }
    .lista-footer li > a:hover{

        border-bottom:1px solid #fff;
    }

    .menu-footer li > a:hover{

        border-bottom:1px groove #fff;
    }